@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


#contenedorpadre{
    width: 1200px;
    margin: 0 auto;
}

#conteiner{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#lista1{
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

#section1{
    background-color: #509EA0;
    text-align: center;
}

#section1 h2,p{
    font-family: "Montserrat", sans-serif;
    color: white;
}

#section2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#section2 p{
    color: black;
    text-align: left;
}

#menu2{
    list-style-type: none;
}

#menu2 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#proyecto{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: black;
    font-size: 26px;
}

#footer1{
    background-color: rgb(134, 134, 134);
    display: flex;
    justify-content: center;
}

#footer1 a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

#footer1 ul{
    text-decoration: none;
    list-style-type: none;  
}

#menu3{
    display: flex
}

header{
    padding: 213px;
    text-align: center;
}

footer{
    font-family: "Montserrat", sans-serif;
}

header h1, p{
    font-family: "Montserrat", sans-serif;
}

header p{
    font-size: 20px;
}

main img{
    width: 302px;
    margin: 0 auto;
    padding: 11px;
}

.texto1{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    padding-top: 21px
}

.texto2{
    padding: 18px;
    color: white;
}

.col1{
    font-family: "Montserrat", sans-serif;
    width: 440px;
}